html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

*,*::before,*::after {
box-sizing: border-box;
}

body{
    background: linear-gradient(#4E4376,#D9D9D9);
    background-repeat:no-repeat;
    line-height: 24px;
}

.logo{
    color: #758AB6;
    font-size: 40px;
    font-family: 'Knewave', system-ui;
}

.logo:hover{
    color: #758AB6;
  }

.navbar{
    background-color: #C8B6D6;
    opacity: 0.9;
}

.behance{
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-family: 'Bagel Fat One', system-ui;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

h6{
    font-family: 'Bagel Fat One', system-ui;
}

.btn{
    border: 1px solid #ddd3f0;
    background: radial-gradient(#758AB6, #C8B6D6);
    /* box-shadow: 4px 4px #758AB6; */
    color: white;
    font-family: 'Bagel Fat One', system-ui;
  }

  .btn:hover{
    background: linear-gradient(#ddd3f0 5%, #758AB6 15%, #C8B6D6 100%);
  }
